.vector-group {
	padding: 2px;
	margin: 2px;
}

.nodisplay {
	display: none;
}

.padded {
	padding: 5px;
}

.loading-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5) /*url(../static/loading.gif) center center no-repeat*/;
	z-index: 1000000;
	left: 0;
	top: 0;
	text-align: center;
}

.loading-text {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	top: 40%;
	color: #234091;
	background-color: #FEBB24;
}